@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/image/login.jpg);
    background-size: cover;
    background-position: center;
}

.signup-box {
    margin: auto;
    border-radius: 3px;
        padding: 60px;
        border-radius: 16px;
        backdrop-filter: blur(25px); 
        text-align: center;
        color: black;
        width: 400px;
        height: 670px;
        box-shadow: rgba(3, 204, 191, 0.244) 10px 48px 100px 10px;


}

.signup-box h1 {
    font-size: 40px;
    margin-bottom: 40px;
    color: rgb(40 57 101 / 90%);
}

.signup-box form {
    font-size: 17px;
    font-weight: 600;
}

.signup-box label {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    height: 35px;
    

}

.signup-box input[type="text"]{
    width: 100%;
    background: rgba(40, 57, 101, 0.305);
    border: none;
    padding: 12px 12px 12px 45px;
    border-radius: 99px;
    outline: 3px solid transparent;
    transition: 0.3s;
    font-size: 17px;
    color:rgba(255, 255, 255, 0.9); 
    font-weight: 600;
}
.signup-box select {
  width: 100%;
  background: rgba(40, 57, 101, 0.305);
  border: none;
  padding: 12px 12px 12px 45px;
  border-radius: 99px;
  outline: 3px solid transparent;
  transition: 0.3s;
  font-size: 17px;
  color:rgb(40 57 101 / 90%); 
  font-weight: 600;

}
.signup-box input:focus {
    outline: 3px solid rgb(40 57 101 / 90%);
}

.signup-box button {
  width: 100%;
  padding: 10px 0;
  background: #28A0DD;
  border: none;
  border-radius: 99px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: rgb(40 57 101 / 90%);
    text-decoration: none;
    font-size: 15px;
}
.multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px solid #ccc;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }
  
  #checkboxes input {
    margin-right: 10px;
  }

  .dropdown-menu {
    background-color: #fff; 
    border: 1px solid #ccc;
    border-radius: 10px; 
    padding: 10px; 
    max-height: 200px; 
    overflow-y: auto; 
}


  